.providers-section {
    background-color: #1E1E1E;
    padding-bottom: 50px;
    overflow: hidden;
  }
  
  .provider-logo {
    max-width: 120px;
    max-height: 120px;
    min-width: 120px;
    min-height: 120px;
    object-fit: contain;
    margin: 0 auto;
  }
  
  button {
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  button:hover {
    background-color: #d86d1f;
  }
  
  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .image-container img {
    max-width: 340px;
    max-height: 280px;
    min-width: 340px;
    min-height: 280px;
    object-fit: cover;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
  }
  
  .image-container:hover .image-overlay {
    opacity: 1;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    justify-items: center;
    margin-bottom: 50px;
  }
  
  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  